<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Some Website</title>
	</head>
	<body>
		<h1>We'll be right back</h1>
		<p>This is site is currently under maintenance</p>
	</body>
</html>
